@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #457e73;
    color: aliceblue;
}

#home-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    font-family: Sometype Mono;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid black .5px;
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
}

#info-box {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 70%;
    gap: 15px;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(28, 53, 56);
    background-color:#486c66;
    padding: 50px;
}

#job-skills {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

h1 {
    display: flex;
    font-family: Poppins;
}