@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #457e73;
    color: aliceblue;
}

#home-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    font-family: Sometype Mono;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid black .5px;
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
}

#info-box {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 70%;
    gap: 15px;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(28, 53, 56);
    background-color:#486c66;
    padding: 50px;
}

#job-skills {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

h1 {
    font-family: Poppins;
    text-align: center;
}

#textBubble {
    text-align: center;
    border: solid #fff;
    background-color: #fff;
    border-top-right-radius: 155px;
    border-top-left-radius: 155px;
    border-bottom-right-radius: 155px;
    padding: 20px;
    width: 120px;
    display: flex; 
    font-size: medium;
    border: solid black;
    color: black;
}

#textBubbleText {
    display: flex;
    /* flex-direction: row; */
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    border: solid black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    box-shadow: 10px 10px;
    background-color: #9dbebb;
}

#DogImage {
    width: 125px;
    height: 125px;
}

#ImageDiv {
    margin-top: 110px;

}

#adventureContainer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 3%;
}

#dogContainer {
    display: flex;
    margin-right: 3%;
}