@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #457e73;
    color: aliceblue;
}

#cd-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    max-height: 300px;
    border-radius: 100%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 10px black; */
}


#home-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    font-family: Sometype Mono;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid black .5px;
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
}

#info-box {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 20px auto;
    gap: 20px;
    padding: 30px;
    background-color: #486c66;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#job-skills {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

h1 {
    font-family: Poppins;
    text-align: center;
}

h2 {
    font-family: Poppins;
    text-align: center;
}

#textBubble {
    text-align: center;
    border: solid #fff;
    background-color: #fff;
    border-top-right-radius: 155px;
    border-top-left-radius: 155px;
    border-bottom-right-radius: 155px;
    padding: 20px;
    width: 120px;
    display: flex; 
    font-size: medium;
    border: solid black;
    color: black;
}

#textBubbleText {
    display: flex;
    /* flex-direction: row; */
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    border: solid black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    background-color: #9dbebb;
}

#DogImage {
    width: 125px;
    height: 125px;
}

#ImageDiv {
    margin-top: 110px;
}

#adventureContainer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 3%;
}

#dogContainer {
    display: flex;
    margin-right: 3%;
}