body {
    margin: 0;
    padding: 0;
    background-color: #457e73;
    color: aliceblue;
}

#home-nav {
    display: flex;
    justify-content: space-around; /* Evenly spaces the links */
    align-items: center; /* Center items vertically */
    height: 50px;
    background-color: #2d4a43; /* Optional: Add a background to the navbar */
}

a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2rem; /* Adjust font size for readability */
    border-radius: 5px;
    border: 1px solid transparent; /* Gives a subtle border effect */
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
    border: 1px solid #f4e9cd; /* Add a border on hover for better visibility */
}

