@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    background-color: #457e73;
}

#home-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    font-family: Sometype Mono;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid black .5px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
}

#welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gif2001 { 
    width: 200px;
}

#cover {
    border: 10px solid black;
    position: absolute;  
    top: 250px;           
    width: 20px;                    
    margin-left: 19%;
    /* margin-right: 0%; */
}

#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

/*-----------------------------------------------------*/

#leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%; 
    /* border: solid black; */
    padding: 1%;
    width: 50%;
    margin: 0% 1% 0% 1%;
}

#leftContent {
    background-image: url(../images/pixel\ art\ background.jpg);
    background-size: cover;
    background-position: center;
    border: solid black;
    height: 300px;
    border-radius: 20px;
}

#dogContainer {
    display: flex;
    margin-top: 130px;
    margin-right: 20%;
    
}

#dogImage {
    width: 100px;
    height: 100px;
    margin-left: 30%;
}

#textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2%;
    border: solid black;
    border-radius: 100px 100px 100px 1px;
    background-color: #fff;
    margin-bottom: 100px;
    max-width: 45%;
}

.buttons {
    margin-top: 10px;
}

.buttons:hover {
    background-color: #457e73;
}

#prevButton {
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    background-color: #486c66;
    color: white;
}

#nextButton {
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    background-color: #486c66;
    color: white;
}

/*-----------------------------------------------------*/
#rightContainer {
    border: solid black;
    border-radius: 20px;
    padding: 3%;
    width: 25%;
    margin: 0% 1% 0% 1%;
    background-image: url(../images/computer\ popup.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#factContainer {
    margin-top: 50px;
    text-align: center;
    font-size: larger;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: solid black 1px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 1%;
    margin: 0% 1% 0% 1%;
    background-color: #486c66;
    color: aliceblue;
    margin-top: 4%;
    font-size: 20px;
    border-radius: 20px;
}

#adventureContainer {
    display: flex;
    justify-content: center;
}

#footerRight {
    margin-left: 50px;
}

#footerLeft {
    margin-right: 50px;
}

#hourGlassImg {
    width: 20%;
}
