@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    background-color: #457e73;
}

h2 {
    font-family: Poppins;
    text-align: center;
    color: aliceblue;
}

h1 {
    font-family: Poppins;
    text-align: center;
    font-size: 45px;
    color: rgb(186, 97, 154);
    text-shadow: 2px 2px rgba(139, 0, 139, 0.766);
}

p {
    color: rgb(172, 154, 166);
    font-size: 25px;
}

#home-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    font-family: Sometype Mono;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid black .5px;
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
}

#welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gif2001 { 
    width: 200px;
}

#cover {
    border: 10px solid black;
    position: absolute;  
    top: 250px;           
    width: 20px;                    
    margin-left: 19%;
    /* margin-right: 0%; */
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#secondMainContainer {
    display: flex;
    flex-direction: row;
}

/*-----------------------------------------------------*/
#leftContainer {
    border: solid black 1px;
    border-radius: 0px 20px 0px 20px;
    background-color: #486c66;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/*-----------------------------------------------------*/
#middleContainer {
    border: solid black 1px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
    background-color: #77aca2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dogContainer {
    border: solid black 1.5px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
    justify-content: center;
    padding: 4% 4% 0% 4%;
    width: 95%;
}

#textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1% 2% 2% 2%;
    border: solid black;
    border-radius: 100px 100px 100px 1px;
    background-color: #fff;
    margin-bottom: 50px;
}

#dogImage {
    width: 80px;
}

.buttons {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}

#prevButton {
    background-color: #457e73;
    border-radius: 20px;
    padding: 15%;
    color: white;
    margin-right: 5%;
}

#nextButton {
    background-color: #457e73;
    border-radius: 20px;
    padding: 15%;
    color: white;
    margin-left: 5%;
}

/*-----------------------------------------------------*/
#rightContainer {
    border: solid black 1px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
    background-color: #486c66;
}

/*------------------------------------------------------*/
#footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    border: solid black 1px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 1%;
    margin: 0% 1% 0% 1%;
    background-color: #486c66;
    margin-top: 4%;
}

#footerLink {
    border: none;
    margin-left: 10%;
    margin-right: 10%;
}

#footerLink:hover {
    background-color: #486c66;
}

#footerImagesWLink:hover {
    height: 120px;
}

#footerImages {
    height: 100px;
}

#footerImagesWLink {
    height: 100px;
}