@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    background-color: #457e73;
}

h2 {
    font-family: Poppins;
    text-align: center;
    color: aliceblue;
}

h1 {
    font-family: Poppins;
    text-align: center;
    font-size: 45px;
    color: rgb(186, 97, 154);
    text-shadow: 2px 2px rgba(139, 0, 139, 0.766);
}

p {
    color: lightpink;
}

#home-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    font-family: Sometype Mono;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid black .5px;
}

a:hover {
    color: #f4e9cd;
    background-color: #77aca2;
}

#welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gif2001 { 
    width: 200px;
}

#cover {
    border: 10px solid black;
    position: absolute;  
    top: 250px;           
    width: 20px;                    
    margin-left: 19%;
    /* margin-right: 0%; */
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#secondMainContainer {
    display: flex;
    flex-direction: row;
}

/*-----------------------------------------------------*/
#leftContainer {
    border: solid black;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
}


/*-----------------------------------------------------*/
#middleContainer {
    border: solid black;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
}


#dogContainer {
    border: solid black;
    display: flex;
    justify-content: center;
}


/*-----------------------------------------------------*/
#rightContainer {
    border: solid black;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
}


#footer {
    border: solid black;
    margin: 0;
}


#adventureContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}