@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
}

#welcomeMessage {
    display: flex;

}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#secondMainContainer {
    display: flex;
    flex-direction: row;
}

/*-----------------------------------------------------*/
#leftContainer {
    border: solid black;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
}


/*-----------------------------------------------------*/
#middleContainer {
    border: solid black;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
}


#dogContainer {
    border: solid black;
    display: flex;
    justify-content: center;
}


/*-----------------------------------------------------*/
#rightContainer {
    border: solid black;
    padding: 3%;
    width: 30%;
    margin: 1%;
    margin-top: 4%;
}


#footer {
    border: solid black;
    margin: 0;
}